.container {
margin-top: 50px;
}
table {
text-align: center;
padding-right: 30px;
}
th {
background-color: #007bff;
color: white;
}
td {
vertical-align: middle !important;
padding-right: 20px;
}
.button-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  justify-content: flex-end; /* align buttons to the right */
  align-items: center; /* center buttons vertically */
  width: auto; /* remove fixed width */
  overflow: hidden;
}
  .btn-create, .btn-download {
  margin-left: 10px; /* add some margin between the buttons */
  white-space: nowrap;
}
.page-header {
margin-bottom: 20px;
}
h1 {
text-align: center;
margin-top: 50px;
margin-bottom: 50px;
}