{{>layout/header}}      {{! Include the header section from another file }}

<h1 class="page-header">데이터베이스 생성 보조 웹사이트</h1>      {{! Main heading }}

{{#screenshot}}     {{! If a screenshot exists }}
    <div class="screenshot-container">
        <a href="{{../tableName}}.html"><img src="/Screenshot/{{screenshot}}" onclick="openHtmlFile(event)"></a>
    </div>
{{/screenshot}}

<div class="button-container">    {{! Show two buttons for uploading and downloading }}
    <a href="#" onclick="selectFile()" role="button" class="btn btn-primary btn-create">
        업로드
    </a>
    <a href="/download" role="button" class="btn btn-primary btn-download">
        다운로드
    </a>
</div>

<style>
    @import url("css/index.css");
</style>

<script src="js/app/indexScript.js"></script>